.footer{
    height: 50px;
    background-color: black;
    color: rgb(175, 133, 71);
    font-size: 12px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}