
header{
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 350px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 30px;
}
header .menu{
    position: relative;
    display: flex;   
}
header .menu li{
    list-style: none;
}
header .menu li a{
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-weight: bolder;
}
header .menu li a:hover{
    color: brown;
    transition: 0.5s ease;
}